<div class="container">
  <header class="header">
    <a href='/' class="logo header__logo">
      <img src="/images/logo.svg" alt="logo" />
    </a>
    <input
      type="text"
      class="input input-address"
      placeholder="Адрес доставки"
    />
    <div class="buttons">
      <button class="button button-primary">
        <img src="/images/user.svg" alt="user" class="button-icon" /><span
          class="button-text"
          >Войти</span
        >
      </button>
      <button class="button">
        <img src="/images/shopping-cart.svg" alt="shopping-cart" /><span
          class="button-text"
          >Корзина</span
        >
      </button>
    </div>
  </header>
</div>
