<div class="container">
<section class="restaurants">
    <div class="restaurants__heading">
        <h2 class="restaurants__title">Рестораны</h2>
       
            <input type="text" class="input input-search" placeholder="Поиск блюд и ресторанов"/>
    
    </div>
    <div class="restaurants__block-cards">

        <a href="/restaurant?id=1" class="restaurants__card card wow fadeInUp">
            <div class="card__image-wrapper">
                <img class="card__image" src="images/image1.png" alt="pizza">
            </div >
            <div class="card__content">
                <div class="card__heading">
                    <h3 class="card__title">Пицца плюс</h3>
                    <span class="card__time">50 мин</span>
                </div>
                <div class="card__info">
                    <div class="card__info-rating">
                        <img src="images/rating.svg" alt="star">
                        4.5
                    </div>
                    <div class="card__info-price">От 340 грн.</div>
                    <div class="card__info-category">Пицца</div>
                </div>
            </div>
        </a>

        <a href="/restaurant?id=2" class="restaurants__card card wow fadeInUp">
            <div class="card__image-wrapper">
                <img class="card__image" src="images/image2.png" alt="pizza">
            </div >
            <div class="card__content">
                <div class="card__heading">
                    <h3 class="card__title">Тануки </h3>
                    <span class="card__time">40 мин</span>
                </div>
                <div class="card__info">
                    <div class="card__info-rating">
                        <img src="images/rating.svg" alt="star">
                        4.5
                    </div>
                    <div class="card__info-price">От 280 грн.</div>
                    <div class="card__info-category">Суши </div>
                </div>
            </div>
        </a>

        <a href="restaurant.html" class="restaurants__card card wow fadeInUp">
            <div class="card__image-wrapper">
                <img class="card__image" src="images/image3.png" alt="pizza">
            </div >
            <div class="card__content">
                <div class="card__heading">
                    <h3 class="card__title">FoodBand</h3>
                    <span class="card__time">50 мин</span>
                </div>
                <div class="card__info">
                    <div class="card__info-rating">
                        <img src="images/rating.svg" alt="star">
                        4.7
                    </div>
                    <div class="card__info-price">От 360 грн.</div>
                    <div class="card__info-category">Пицца </div>
                </div>
            </div>
        </a>

        <a href="restaurant.html" class="restaurants__card card wow fadeInUp">
            <div class="card__image-wrapper">
                <img class="card__image" src="images/image4.png" alt="pizza">
            </div >
            <div class="card__content">
                <div class="card__heading">
                    <h3 class="card__title">Сатори сет</h3>
                    <span class="card__time">45 мин</span>
                </div>
                <div class="card__info">
                    <div class="card__info-rating">
                        <img src="images/rating.svg" alt="star">
                        4.6
                    </div>
                    <div class="card__info-price">От 570 грн.</div>
                    <div class="card__info-category">Суши </div>
                </div>
            </div>
        </a>

        <a href="restaurant.html" class="restaurants__card card wow fadeInUp">
            <div class="card__image-wrapper">
                <img class="card__image" src="images/image5.png" alt="pizza">
            </div>
            <div class="card__content">
                <div class="card__heading">
                    <h3 class="card__title">Точка еды</h3>
                    <span class="card__time">50 мин</span>
                </div>
                <div class="card__info">
                    <div class="card__info-rating">
                        <img src="images/rating.svg" alt="star">
                        4.7
                    </div>
                    <div class="card__info-price">От 530 грн.</div>
                    <div class="card__info-category">Микс </div>
                </div>
            </div>
        </a>


        <a href="restaurant.html" class="restaurants__card card wow fadeInUp">
            <div class="card__image-wrapper">
                <img class="card__image" src="images/image6.png" alt="pizza">
            </div >
            <div class="card__content">
                <div class="card__heading">
                    <h3 class="card__title">PizzaBurger</h3>
                    <span class="card__time">50 мин</span>
                </div>
                <div class="card__info">
                    <div class="card__info-rating">
                        <img src="images/rating.svg" alt="star">
                        4.8
                    </div>
                    <div class="card__info-price">От 450 грн.</div>
                    <div class="card__info-category">Пицца </div>
                </div>
            </div>
        </a>

    </div>
</section>
</div>