.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
}


.address {
    flex: 0.8;
}

.input-address {
    width: 100%;
    background-image: url(../images/icon/home.svg);
}

.search {
    margin-left: auto;
}

.input-search {
    width: 300px;
    background-image: url(../images/icon/search.svg);

}
